<section class="PageSize" id="Service">
    <div id="header">
        <div class="messageBox">
            <span>What I DO</span>
        </div>
        <h1>Service</h1>
    </div>
    <hr id="headingHr">
    <div id="serviceGrid">
        <div class="serviceBlocks your-element" data-tilt>
            <h2>WEB Devlopment</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis aliquam saepe consectetur officia asperiores impedit distinctio corrupti itaque? Explicabo ea perspiciatis fugit dolore consectetur perferendis molestiae aspernatur aperiam voluptatibus inventore?</p>
        </div>
        <div class="serviceBlocks  your-element" data-tilt>
            <h2>Desktop Application</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis aliquam saepe consectetur officia asperiores impedit distinctio corrupti itaque? Explicabo ea perspiciatis fugit dolore consectetur perferendis molestiae aspernatur aperiam voluptatibus inventore?</p>
        </div>
        <div class="serviceBlocks  your-element" data-tilt>
            <h2>.Net Framework</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis aliquam saepe consectetur officia asperiores impedit distinctio corrupti itaque? Explicabo ea perspiciatis fugit dolore consectetur perferendis molestiae aspernatur aperiam voluptatibus inventore?</p>
        </div>
        <div class="serviceBlocks  your-element" data-tilt>
            <h2></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis aliquam saepe consectetur officia asperiores impedit distinctio corrupti itaque? Explicabo ea perspiciatis fugit dolore consectetur perferendis molestiae aspernatur aperiam voluptatibus inventore?</p>
        </div>
        <div class="serviceBlocks  your-element" data-tilt>
            <h2>Python</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis aliquam saepe consectetur officia asperiores impedit distinctio corrupti itaque? Explicabo ea perspiciatis fugit dolore consectetur perferendis molestiae aspernatur aperiam voluptatibus inventore?</p>
        </div>
    </div>
</section>