<section class="PageSize" id="Skills">
    <div class="messageBox header">
        <span>WHAT I HAVE</span>
    </div>
    <h1>Skills</h1>
    <hr id="headingHr">
    <div id="SkillsBlock">
        <div class="SkillElements" id="C++">
            <i class="fa-sharp fa-solid fa-"></i>
            <img src="img/Skills/C++.png" alt="">
            <div>
                <h4>C++</h4>
                <p>University of Enginnering & Technology</p>
            </div>
        </div>
        <div class="SkillElements" id="C#">
            <img src="img/Skills/CSharp.png" alt="">
            <div>
                <h4>C#</h4>
                <p>University of Enginnering & Technology</p>
            </div>
        </div>
        <div class="SkillElements" id="Python">
            <img src="img/Skills/python.png" alt="">
            <div>
                <h4>Python</h4>
                <p>University of Enginnering & Technology</p>
            </div>
        </div>
        <div class="SkillElements" id=".net_Framework">
            <img src="img/Skills/dotNet.png" alt="">
            <div>
                <h4>.Net FrameWork</h4>
                <p>University of Enginnering & Technology</p>
            </div>
        </div>
        <div class="SkillElements" id="Winforms">
            <img src="img/Skills/Winforms.png" alt="">
            <div>
                <h4>Winforms</h4>
                <p>University of Enginnering & Technology</p>
            </div>
        </div>
        <div class="SkillElements" id="Html">
            <img src="img/Skills/Html.png" alt="">
            <div>
                <h4>Html</h4>
            </div>
        </div>
        <div class="SkillElements" id="CSS">
            <img src="img/Skills/css.png" alt="">
            <div>
                <h4>CSS</h4>
            </div>
        </div>
        <div class="SkillElements" id="JavaScipt">
            <img src="img/Skills/JS.jpg" alt="">
            <div>
                <h4>JS</h4>
            </div>
        </div>
        <div class="SkillElements" id="Node.Js">
            <img src="img/Skills/nodeJS.png" alt="">
            <div>
                <h4>Node.JS</h4>
            </div>
        </div>
        <div class="SkillElements" id="Express">
            <img src="img/Skills/Express.png" alt="">
            <div>
                <h4>Express</h4>
            </div>
        </div>
        <div class="SkillElements" id="MongoDB">
            <img src="img/Skills/mongodb.png" alt="">
            <div>
                <h4>Mongodb</h4>
            </div>
        </div>
        <div class="SkillElements" id="Authenication/Cokiees">
            <img src="img/Skills/authentication.png" alt="">
            <div>
                <h4>Authentication</h4>
            </div>
        </div>
    </div>
</section>