* {
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
}

.home {
    background-image: linear-gradient(to right, #121d1d, #537272);
}

.PageSize {
    position: relative;
    height: 100vh;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    margin: 20px 20px;
    padding: 20px 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(216, 212, 212);
}

nav ul li a:hover {
    text-decoration: none;
    color: #00a78e;
}

.sec {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

.sec:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.sec:hover:after {
    width: 100%;
    background: #00a78e;
}

#homeDetails {
    box-shadow: 2px 10px 20px 20px  rgb(54, 54, 50);
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 3rem 3rem;
    color: white;
    padding: 100px 100px;
}

#personalDetails {
    display: flex;
    flex-direction: row;
}

.homedetailsBody {
    padding: 20px 100px;
    font-size: 1.4rem;
}

.homedetailsBody img {
    width: 290px;
    height: 363px;
}

.flexRox {
    display: flex;
    flex-direction: row;
}

.nonListStyle div ul li {
    list-style: none;
}

#personalDetails div ul li {
    margin: 0.5rem 1rem;
}

.homedetailsBody>h3 {
    font-weight: lighter;
}

.homedetailsBody>hr {
    margin: 1.5rem 0rem;
}

.fa-person {
    margin-right: 6px;
}

.fa-hand>span {
    margin-left: 20px;
}
/* .info{
    margin: 0px 10px;
} */
.flexColoum{
    display: flex;
    flex-direction: column;
}